h1{
  font-size: 75;
  color: 255;
}
body {
  margin: 25px;
  font-family: arial, sans-serif;
  font-size: 14px;
  background-image: url('car1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.75;

}

.CARIMAGEONE{
  
}
.imgOne {
  border: 5px solid #555;
}

#grad {
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
img {
  opacity: 0.5;
}

img:hover {
  opacity: 1;
}
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
